/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==============================

==============================*/

/*==============================
Custom Style
==============================*/

body {
  background-color: #808080;
}
.centertext {
  text-align: center;
}

.title {
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: bold;
}

/*==============================
Header
==============================*/

.header {
  height: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}


/*==============================
Nav
==============================*/

.nav {
  margin-left: 20px;
  display: inline-block;
  height: 200px;
  width: 150px;
  border: 1px dashed black;
}

.nav ul {
  list-style: circle;
  margin: 20px 0 0 20px;
}

.nav li {
  margin-bottom: 7px;
}
.nav h1 {
  font-weight: bold;
  font-size: 1.3em;
  margin: 10px 0 0 10px;
}

/*==============================
Restaurant Image
==============================*/

.restaurantimage {
  position: relative;
  float: right;
  right: 150px;
}

.restaurantimage img {
  height: 200px;
  margin: 0 40px 40px 0;
}

/*==============================
Border
==============================*/

.border {
  border-top: 1px solid white;
}


/*==============================
About Jake's
==============================*/

.aboutjakes {
  display: inline-block;
  width: 50%;
  margin: 0 20px 0 20px;
}

.aboutjakes h1 {
  margin-bottom: 40px;
  text-decoration: underline;
}

/*==============================
Hours
==============================*/

.hours {
  border-left: 3px solid black;
  display: inline-block;
  float: right;
  width: 40%;
}

.hours h1 {
  margin-bottom: 40px;
  text-decoration: underline;
}

/*==============================
Menu
==============================*/

.menu {
  width: 80%;
  margin-left: 20%;
}

.menu img {
  margin: 0 auto;
}
